<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
  <button type="button" class="btn-close" aria-label="Close"></button>
</div>

<div class="modal-body">
  <form [formGroup]="postForm" (ngSubmit)="registrar()">
    <!-- Email input -->
    <div class="form-outline mb-4">
      <input type="text" class="form-control" formControlName="title" />
      <label class="form-label" for="email">Email</label>
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
      <input type="text" formControlName="body" class="form-control" />
      <label class="form-label" for="form2Example2">Body</label>
    </div>

    <!-- 2 column grid layout for inline styling -->
    <div class="row mb-4">
      <div class="col d-flex justify-content-center">
        <!-- Checkbox -->
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="form2Example31"
            checked
          />
          <label class="form-check-label" for="form2Example31">
            Remember me
          </label>
        </div>
      </div>

      <div class="col">
        <!-- Simple link -->
        <a href="#!">Forgot password?</a>
      </div>
    </div>
<div class="modal-footer">
  <button type="submit" class="btn btn-outline-dark">Save</button>
</div>
  </form>
</div>
